img {
    height: 200px;
    width: 200px;
  }

  .listItem {
    margin: 1em;
    border-radius: 25px;
    text-align: center;
   
}
.button{
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 25px;
}


.centerPadding{
    padding: 40px 20px;
    height: center;
    line-height: normal;
}


p{
    color: white;
    text-align: center;
}